@font-face {
    font-family: 'bodoni_egyptian_probold';
    src: url('fonts/shinntype_-_bodoniegyptianpro-bold-webfont.woff2') format('woff2'),
         url('fonts/shinntype_-_bodoniegyptianpro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bodoni_egyptian_promedium';
    src: url('fonts/shinntype_-_bodoniegyptianpro-medium-webfont.woff2') format('woff2'),
         url('fonts/shinntype_-_bodoniegyptianpro-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px; 
    font-family: 'bodoni_egyptian_promedium';
    background-image: url("Images/footer-logo-muumimuseo-center.png");
    background-repeat: no-repeat;
  background-position: right top;
}
a { color:#32804B; }

h1, h2, h3 {font-family: 'bodoni_egyptian_probold';}
h2, h3 {margin-top: 0;}
h1 {
    color: #35733c; 
    font-size: 3rem;
    text-align: center;
}
h2 {
    font-size: 2.5rem;
}

header {
    margin-bottom: 0.2rem;
    display: flex;
}
header .logo {
    margin: 1rem 1rem 0 0; 
    float: left;
}
header .logo img { 
    max-width:200px; 
}
header .menu {
    font-family: "Montserrat",sans-serif; 
    float: right;
}
header .menu ul { 
    list-style:none; 
    margin:0; 
    padding:0; 
    display: flex;
}
header .menu > ul > li { 
    float:left; 
    position:relative; 
}
header .menu > ul > li > a {
    font-size: 14px; 
    letter-spacing: 1px; 
    float:left; 
    display:block; 
    padding:40px 10px; 
    color:#333; 
    text-transform:uppercase;
}
header .menu > ul > li > a:hover { 
    text-decoration: underline; 
}


header .menu > ul > li > ul { 
    display:none;  
    width: 220px; 
    padding:10px; 
    z-index: 1;  
    background-size:cover;  
    background-color: #32804B;
}

header .menu > ul > li > ul > li { 

    background-color:transparent;
     
}

header .menu > ul > li > ul > li > a { 
    color: white;
    background-color:transparent;
     
}

header .menu > ul > li > ul > li > a:hover { 
    
    text-decoration: underline; 
    background-color: #32804B;
}



.row {
    margin-bottom: 0;
}

.row .col {
    padding: 0;
}
.sidenav > li > ul > li > a, .sidenav > li > a, .sidenav > li > a > i {
    color:#32804B;
}


.mainbanner img {
    width: 100%;
}


.mid-banner {
  width: 70%;
  
  position: absolute;
  top: 350px;
  left: 210px;
}


.mid-banner-title {
    background-color: white;
    height: 130px;
}

.mid-banner-title h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'bodoni_egyptian_promedium';
    font-size: 2.5rem;
}

.mid-banner-title h2 {

    font-family: 'bodoni_egyptian_promedium';
    font-size: 2rem;
}

.circle-icon a {
    background-color: #E94E0F;
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    font-family: 'Pacifico', cursive;
    margin-top: 4rem;
    margin-left: -13rem;
}



.circle-icon > a > h4 {
    font-family: 'Pacifico', cursive;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
}



.container1 {
    background-color: #32804B;
    font-size: 1.2rem;
    font-family: 'bodoni_egyptian_promedium';
    padding: 1rem 0 1rem 0;

}

.exhibitions-header {
    background-color: #363636;
}

.exhibitions-header h2 {
    font-family: 'bodoni_egyptian_promedium';
    font-size: 3rem;
    color: white;
    padding-top: 5rem;
    
}

.exhibitions h2 {
    font-family: 'bodoni_egyptian_probold';
    color: #333;
    font-size: 2rem;
    text-align: left;
    margin-top: 1rem;
    margin: 1rem 0 0 1rem;
    
    
}

.exhibitions h3 {
    font-family: 'bodoni_egyptian_probold';
    color: #32804B;
    font-size: 1.2rem;
    text-align: left;
    margin: 1rem 0 0 1rem;
    
}

.exhibitions p {
    font-family: 'bodoni_egyptian_promedium';
    color: #333;
    font-size: 1rem;
    text-align: left;
    margin: 1rem 1rem 2rem 1rem;
    
    
}

.carousel {
    height: 236px;
}

.exht-hrf h2 {
    margin-top: 0;
}

.exht-hrf a > h2:hover {
    color:  #32804B;
    
}

.news-header {
    background-color: #363636;
}

.news-header h2 {
    font-family: 'bodoni_egyptian_promedium';
    font-size: 3rem;
    color: white;
    padding-top: 5rem;
    
}

.news {
    background-color: #7AB7BC;
    height: 200px;
    margin-bottom: 0.1rem;
}

.news h2 {
    font-family: 'bodoni_egyptian_promedium';
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin: 3rem 0 2rem 0;
    
}

.news p {
    font-family: 'bodoni_egyptian_promedium';
    font-size: 1rem;
    margin: 0 2rem 0 2rem;
    color: #333;
}

.circle-icon2 a {
    background-color: #E94E0F;
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    font-family: 'Pacifico', cursive;
    margin-top: 4rem;
    margin-right: 5rem;
}



.circle-icon2 > a > h4 {
    font-family: 'Pacifico', cursive;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2.1rem;
}

.quote-block p {
    font-family: 'Pacifico', cursive;
    color: #333;
    font-style: normal;
    font-weight: 200;
    font-size: 3rem;
}

.quote-block h2 {
    font-family: 'bodoni_egyptian_probold', sans-serif;
    color: #32804B;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    margin: 2rem 0 2rem 0;
}

.quote-block-content h2, .quote-block-content p {
    text-align: left;
    margin: 1rem 1rem 1rem 1rem;
}


.footer-logo {
    margin: 5rem 0 6rem 0;
}


.footer-background {
    background-image: url("Images/footer.jpg");
    background-color: #247441;
    
background-repeat: repeat-x;
background-position: bottom;
width: 100%;
margin:0px;
padding: 0px;
}

footer .row {
    width: 80%;
}

.footer-list ul, .footer-list h3 {
    margin-left: 1rem;
    font-family: 'Roboto', sans-serif;
    
}

.footer-list h3 {
    font-size: 1.2rem;
    color: white;
    margin-top: 2rem;
}

.footer-list li {
    font-size: 1rem;
    color: white;
   
}

.footer-list li:hover, .footer-list h3:hover{
    text-decoration: underline;
}

.footer-btn {
    width: 12rem;
    border: 2px solid white;
    margin: 1rem 0 0.5rem 0;
    font-family: 'Roboto', sans-serif;

}

/* Change style to be responsive to -----Tablets devices------*/

@media (min-width: 600px) and (max-width: 1024px) {
    header .logo {
        margin: 1rem 0 0 -23rem; 
        float: left;
    }

    .menu-icon {
        margin: -3rem -30rem 0 0;
        float: right;
    }

    .brand-logo img {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .dropdown-trigger {
        margin-left: 0;
        padding: 0;
    }

    .sidenav > li > a {
        padding: 0 1rem;
    }
    .mid-banner {
        width: 90%;
        
        position: absolute;
        top: 240px;
        left: 45px;
      }
      
      
      .mid-banner-title {
          background-color: white;
          height: 100px;
      }

      .mid-banner-title h1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        
        font-size: 2rem;
    }
    
    .mid-banner-title h2 {
    
        
        font-size: 1.5rem;
    }

    .circle-icon a {
        
        margin-top: 3rem;
        margin-left: -6rem;
    }
    .carousel {
        height: 163px;
    }
    .quote-block-content h2 {
        font-size: 1.5rem;
        margin: 0 1rem 0.5rem 1rem;
    }
    .quote-block-content p {
        font-size: 1rem;
        margin: 0.5rem 0.5rem 1rem 0.5rem;
    }
}

/* Change style to be responsive to ------Mobile devices--------- */

@media (max-width: 600px) {
    header .logo {
        margin: 1rem 0 0 -9rem; 
        float: left;
    }

    .menu-icon {
        margin: -3rem -8rem 0 0;
        float: right;
    }

    .brand-logo img {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .dropdown-trigger {
        margin-left: 0;
        padding: 0;
    }

    .sidenav > li > a {
        padding: 0 1rem;
    }
    .mid-banner {
        width: 100%;
        display: block;
        position: inherit;
        
        top: 0;
        left: 0;
        
      }
      
      
      .mid-banner-title {
          background-color: white;
          height: 100px;
      }

      .mid-banner-title h1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        
        font-size: 2rem;
    }
    
    .mid-banner-title h2 {
    
        
        font-size: 1.5rem;
    }

    .circle-icon a {
        
        margin: 2rem 0 2rem 0;
        
    }

    .container1 img {
        margin-top: 1rem;
    }
    .container1 p {
        margin: 1rem 1rem 0 1rem;
    }
    .exhibitions-header h2 {
        padding-top: 3rem;
        margin: 0;
        height: 10rem;
    }

    .third-exht  img{
        width: 100%;
        
    }

    .news-header h2 {
        padding-top: 3rem;
        margin: 0;
        height: 10rem;
    }

    .news {
        height: 25rem;
    }

    .news h2 {
        font-size: 1.5rem;
    }

    .news p {
        font-size: 1rem;
    }

    .circle-icon2 a {
        margin: 2rem 0 0 0;
    }
    .quote-block p {
        font-size: 2rem;
    }
}













